
body{
    /*background-image:url("img/wallpaper3.jpg");*/
    background-color: #0a1a24;
    background-repeat:no-repeat;
    background-attachment: fixed;
    }
.body_x{
      background-image:url("");
      
      }
h1,p{ color: white; 
}

    .sub {
        width:100;
        height: 100;
        font-size: 20px;
        background-color: rgb(238, 9, 9);
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 20;
        margin-top: 10;
      }

      .sub1 {
        font-size: 20px;
        width:100;
        height: 100;
        background-color: rgb(75, 57, 240);
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 20;
        margin-top: 10;
      }
      .sub2 {
        font-size: 20px;
        width:100;
        height: 100;
        background-color: rgb(235, 14, 205);
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 20;
        margin-top: 10;
      }

   .sub_up {
        font-size: 20px;
        width: 80;
        background-color: rgba(53, 51, 52, 0.295);
        color: white;
        padding: 5px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 20;
        margin-top: 10;
      }
   /*////////////////////////////////////grid-container/////////////////////////////////////////////
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header   right'
    'main main main right'
    'footer  footer  footer  right';

    justify-content: center;

}

.player{ grid-area: footer; }
.menu{ grid-area: right; }
.main{ grid-area: main; }

*/


/*///////////////////////////////sidebar////////////////////////////////////////////*/
/*body {
  font-family: "Lato", sans-serif;
}
*/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
