

:root {
  --color-light: #f5ede1;
  --dark: #a7a7a7;
  --dark: #8a8a8a;
  --darker: #303030;
  --sans-serif: 'Roboto', sans-serif;
}

body {
  font-family: var(--sans-serif);
  background: #eeeeee;
}

body {
  background: #0a1a24;
}



.background + section {
  margin-top:5%;
  background: transparent;
  --dark: rgba(white, .5);
  --dark: rgba(white, .6);
  --darker: rgba(white, .8);
}


.background + section .album-tracks {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  border: none; /*   ////////////////////*/
}

section {
  background: #fafafa;
  margin: 100px 56px;
  padding: 20px 56px;
  color: var(--darker);
  color: rgba(255, 255, 255, 0.8);
}

section .album-art {
  float: right;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
}
section .album-art * {
  border-radius: 10px;
}
section .album-art img {
  width: 100%;
  margin-bottom: 10px;
  margin-top: -110px;
  box-shadow: 0 5px 60px -3px rgba(0, 0, 0, 0.18);
}


section .play2 {
  color: white;
  background: #006cfaa4;
  padding:6px;
  text-transform: uppercase;
  -webkit-box-flex: 1;
          flex: 1 1 60%;
}
section .play3{
right:auto ;



}





section .album-tracks {
  background: #f8f8f8;
  border: 1px solid #efefef;
  margin-top: 20px;
}






ol {
  list-style-type: none;
  padding: 20px 36px;
  font-weight: 500;
}
ol li {
  counter-increment: number;
  display: -webkit-box;
  display: flex;
  flex-wrap: initial;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  align-content: initial;
  height: 50px;
  color: var(--dark);
}
ol li span:not(:last-child) {
  margin-right: 2em;
}
@media (max-width: 700px) {
  ol li span:not(:last-child) {
    margin-right: 1em;
  }
}
ol li span:first-child {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--darker);
}
ol li span:first-child:before {
  content: counter(number);
  margin-right: 2em;
  color: var(--dark);
  display: inline-block;
  text-align: end;
  width: 20px;
}

