


    h1,p{ color: white; 
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main  right'
    'footer  footer  footer  footer  footer  footer ';
 
}




#speaker_devise { grid-area: right; }



.slidecontainer {
  position: absolute;
  width: 15%;
}
.slidecontainer2 {
  
  width: 50%;
  counter-reset: 0;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #2e93ce;
  cursor: pointer;
}


.speaker_m{

  position: absolute;
  top: 75;
  right:75 ;
  
}




